* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-experience {
  background-image: url("image/what-bg.png");
  text-align: center;
  width: 100%;
  min-height: 80vh;
  padding-top: 100px;
}
.user-experience .col-md-3 {
  padding: 7px;
}
.user-experience p {
  color: #8D8D8D;
}
.user-experience .card {
  margin: 10px 0;
  border-radius: 80px 0;
  width: 100%;
  border: none;
  background: none;
  transition: box-shadow 0.3s ease;
}
.user-experience .card img {
  width: 135px;
  height: 135px;
  margin: auto;
  padding: 20px;
}
.user-experience .card:hover {
  box-shadow: 0 0 30px #52fdb0;
  background: white;
}

.achievements {
  background-image: url("image/bg-4.png");
  min-height: 80vh;
  padding-top: 100px;
}
.achievements .achieved1 {
  background-image: linear-gradient(90deg, #2AF698, #009EFD);
  min-height: 100px;
  border-radius: 0 70px;
  margin: 5px 0;
  color: white;
}
.achievements .achieved {
  min-height: 100px;
  border-radius: 70px 0;
  margin: 5px 0;
  box-shadow: 0 0 25px #52fdb0;
}
.achievements .achieved2 {
  min-height: 100px;
  border-radius: 0 70px;
  margin: 5px 0;
  box-shadow: 0 0 25px #52fdb0;
}
.achievements img {
  padding: 25px;
}
.achievements .col-md-6 {
  padding: 0 10px;
}
.achievements h2 {
  font-weight: 800;
}
.achievements p {
  color: #8D8D8D;
}
.achievements h3 {
  font-size: 35px;
}

.running {
  background-image: url("image/bg-3.png");
  min-height: 100vh;
  padding: 50px 0;
}

.choose-item {
  background-image: url("image/bg-1.png");
  text-align: center;
  min-height: 100vh;
  padding: 50px 0;
}
.choose-item .card {
  padding-top: 30px;
  box-shadow: 0 0 5px grey;
}
.choose-item .card ul li {
  list-style: none;
  font-size: 18px;
  margin: 7px 0;
}
.choose-item .card:hover {
  border-image: linear-gradient(to right, #2AF698, #009EFD);
  border-image-width: 2px;
  border-image-slice: 4;
}
.choose-item .card:hover .underline {
  visibility: hidden;
}
.choose-item .card:hover .custom-btn {
  visibility: visible;
}
.choose-item .card .custom-btn {
  width: 130px;
  height: 40px;
  border: none;
  background: linear-gradient(to right, #2AF698, #009EFD);
  border-radius: 20px 0;
  font-weight: 600;
  color: white;
  visibility: hidden;
}
.choose-item .card .custom-btn:focus {
  outline: none;
}
.choose-item h1 {
  font-weight: 700;
}
.choose-item p {
  font-size: 17px;
  color: #8D8D8D;
}
.choose-item .underline {
  width: 120px;
  height: 2px;
  background: linear-gradient(90deg, #2AF698, #009EFD);
  margin: auto;
}

.footer {
  background-color: #FAFFFD;
}
.footer .subscription {
  display: grid;
  place-items: center;
  padding: 70px 0 120px;
}
.footer .logo {
  width: 170px;
}
.footer li {
  list-style: none;
  font-weight: 500;
}
.footer .fancy-inputs {
  width: 400px;
  min-height: 50px;
  background: white;
  box-shadow: 0 0 5px gray;
  border-radius: 5px;
}
.footer .fancy-inputs input {
  background: none;
  margin-left: 15px;
  width: 250px;
  border: none;
}
.footer .fancy-inputs input:focus {
  outline: none;
}
.footer .fancy-inputs button {
  width: 100px;
  height: 40px;
  margin: 0 10px;
  border: none;
  background: linear-gradient(to right, #2AF698, #009EFD);
  border-radius: 5px;
  font-weight: 600;
  color: white;
}
.footer .fancy-inputs button:focus {
  outline: none;
}

.header {
  background-image: url("image/header-bg.png");
  min-height: 100vh;
  background-position: bottom;
}
.header nav .logo {
  height: 100px;
}
.header h1 {
  font-size: 70px;
}

.contact-btn {
  width: 100px;
  height: 40px;
  border-radius: 20px 0;
  border: none;
  background: linear-gradient(to right, #2AF698, #009EFD);
  font-weight: 600;
  color: white;
}
.contact-btn:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
